.showcase {
    width: 80%;
    margin: 4rem auto 0 auto;
    padding: 4rem 0;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    border: solid black 1px;
    text-align: center;
    max-width: 80%;
    margin: 1rem 0;
    padding: 1rem;
}

.itemPic img {
    max-height: 15rem;
    width: 90%;
    object-fit: cover;
    border: 1px solid grey;
}

@media (min-width: 768px) {
    .item {
        max-width: 25%;
    }
}