.wrap{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: grey;
}

.showcase{
    width: 80%;
    margin: 4rem auto;
    padding: 4rem;
    background-color: rgb(255, 255, 255);
}
.item{
    border: solid black 1px;
    text-align: center;
    max-width: 25%;
}
.itemPic img{
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    border: 1px solid grey;
}