{% extends "base.html.twig" %}

{% block title %}Page non trouvée
{% endblock %}

{% block body %}
	<div class="wrap">
		<h1>Erreur #{{ status_code }}</h1>
        <h2>Oh non : Page inexistante.</h2>
		<p>Pas de panique. Reprennez votre navigation via le menu !</p>
	</div>
{% endblock %}
