{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation du mot de passe envoyé
{% endblock %}

{% block body %}
	<div class="row">
		<p>
			Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
			        Ce lien expirera dans
			{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
		</p>
	</div>

	<div class="row">
		<p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou
			<a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
	</div>
{% endblock %}
