{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<div class="main">
		<div class="container">
			<h1>Réinitialisez votre mot de passe</h1>
			<div class="tab-body">
				<div class="row">

					<div>
						<small>
							Entrez votre adresse email et nous enverrons un lien pour réinitialiser votre mot de passe
						</small>
					</div>
				</div>
					{{ form_start(requestForm) }}
					{{ form_row(requestForm.email) }}

				<button class="btn-inscription">Envoyer</button>
				{{ form_end(requestForm) }}
			</div>
		</div>
	</div>
{% endblock %}
