{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe
{% endblock %}

{% block body %}
	<div class="main">
		<div class="container">
			<h1>Réinitialisez votre mot de passe</h1>
			<div class="tab-body">

				<div class="row">
					<label for="pass" name="pass">Nouveau mot de passe</label>
					{{ form_start(resetForm) }}
					{{ form_row(resetForm.plainPassword.first) }}</div>
				<div class="row">
					<label for="pass2" name="pass2">Confirmer le nouveau mot de passe</label>
					{{ form_row(resetForm.plainPassword.second) }}</div>

				<button class=" btn-inscription">Réinitialiser le mot de passe</button>
				{{ form_end(resetForm) }}
			</div>
		</div>
	</div>
{% endblock %}
