<footer class="d-flex">

	<div class="network">
		<a href="#" class="d-flex">
			<img src="{{ asset('images/logofb.png')}}" alt="">
			Facebook
		</a>
	</div>
	<div class="network">
		<a href="#" class="d-flex">
			<img src="{{ asset('images/logofb.png')}}" alt="">
			Facebook
		</a>
	</div>
	<div class="network">
		<a href="#" class="d-flex">
			<img src="{{ asset('images/logofb.png')}}" alt="">
			Facebook
		</a>
	</div>
	<div class="network">
		<a href="#" class="d-flex">
			<img src="{{ asset('images/logofb.png')}}" alt="">
			Facebook
		</a>
	</div>
	<div class="copy">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		<p>&copy; 2022 Lorem ipsum dolor sit.</p>
	</div>

</footer>
