<header>
	<nav>
		<ul>
			<li>
				<a class="" href="{{ path('app_homepage') }}">
					Accueil
				</a>

			</li>
			<li>
				<a class="" href="">
					Produit
				</a>
			</li>
			<li>
				<a class="" href="">
					Profil
				</a>
			</li>
			<li id="">
				<a href="">
					<img src="{{ asset('')}}" alt="">
				</a>
			</li>
		</ul>
	</nav>
</header>
