<header>
	<nav>
		<ul>
			<li>
				<a class=""  
					accueil</a>
			
			</li>
			<li>
				<a class="" href="">
					produit
				</a>
			</li>
			<li>
				<a class="" href="">
					profil
			</a>
			</li>
			<li id="">
				<a href="">
					<img src="{{ asset('')}}" alt="">
			
			</li>
		</ul>
	</nav>
</header>
