
{% if app.request.method == 'POST' %}
    <div>
        {% if articles | length == 0 %}
            <h4>Aucun résulat pour votre recherche.</h4>
           {% else %}
               <h3 class="mt-3">Vos résulats de recherche :</h3>
               {% for article in articles %}
                   <div class="mt-3 p-3 bg-light border rounded">
                       <a href="{{ path('products_details', {'slug': article.slug}) }}">
                              <h6 class="text-dark"><i class="bi bi-arrow-down-right-square-fill text-primary"></i> {{ article.name }}</h6>
                       </a>
                   </div>
              {% endfor %}
          {% endif %}
     </div>
{% endif %}

